/*Custom Style*/
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


body {
	font-family:'Montserrat',sans-serif;
    position:relative;
}
.container.nomargin {
	margin:0;
	padding:0;
	width:100%;
}
.padding {
	padding:80px 0;
}
.padding-sm {
	padding:40px 0;
}
.padding-bottom {
    padding-bottom:0px;
}
.margin {
	margin: 30px 0;
}
.title {
	font-size:6em;
	font-family:'Lato',sans-serif;
	display:block;
}


/* Navigation Styling */
.navbar {
	background:#616d7b;
    padding:10px;
    border:none;
}
.navbar .navbar-brand {
	color: #ecf0f1;
    font-size:2.5em;
}
.navbar .navbar-brand:hover {
    color:#E74C3C;
}
/* for brand image */
.navbar .navbar-brand{
    padding:0;
    margin:0;
}
.navbar-inverse .navbar-nav>li>a {
    color:#ecf0f1;
    font-size: 1.3em;
    /* border:none; */
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color:#ecf0f1;
    border-bottom:5px solid #E74C3C;
}

/* scroll spy active not working */
.nav-inverse .navbar-nav > .active > a, 
.nav-inverse .navbar-nav > .active > a:hover, 
.nav-inverse .navbar-nav > .active > a:focus {
    color:#ecf0f1;
    border-bottom:4px solid #C0392B;
}

/* Header Styling */
#header {
	background:#6C7A89;
    color:#ecf0f1;
}
#header h1 {
    margin:0px 10px 10px 10px;
    font-size:3em;
}
#header img {
    padding-top:10px;
    display:inline-block;
}
#header .icon {
	
}
#header .skills {
	font-size: 2.75em;
}
#header .btn-social {
	background-color:#E74C3C;
    color:#ecf0f1;
	width:50px;
	height:50px;
	border:3px solid #E74C3C;
	border-radius:100%;
    box-shadow: 2px 2px 5px #616d7b;
	text-align:center;
	font-size:25px;
	font-weight:900;
	line-height:45px;
}
#header .btn-social i {
	
}
#header .socials>li {
    margin:25px 12px;
}
#header .socials a {
    transition: all .5s;
}
#header .socials>li:hover a {
    
}
#header .socials>li:hover i {
	background:#C0392B;
    border-color:#C0392B;
}



/* About Styling */
#about {
	background:#ecf0f1;
    color:#6C7A89;
}
#about .skills {
    font-size: 3.25em;
    color:#E74C3C;
}
/* Shift apple up a little */
#about .little-apple {
    margin-bottom:10px;
}
#about .shift-left {
    padding-right: 50px;
}
/* this is for ALL img on page*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display:inline-block;
}
#about p{
    margin-right:100px;
    font-size:1.2em;
}




/*Tours Styling */
#tours {
    background:#E74C3C;
}
#tours .skills {
    font-size: 3.25em;
    color:#ecf0f1;
}
#tours .col-sm-3 {
    height:400px;
    border-radius:4%;
}
#tours .white-box {
    background:#ecf0f1;
    height:400px;
    padding:20px;
    margin:10px; 
    opacity:20%;
}
#tours .white-box img {
    text-align: center;
    opacity: .8;
    margin-bottom:20px;
}
/*Hover effect*/
#tours .white-box img:hover {
	opacity: 1;
}
#tours h3{
    color:#6C7A89;
}
#tours .red {
    background:#E74C3C;
    margin-top:15px;
    border:none;
}
#tours .red:hover {
    background:#C0392B;
}


/* Team Styling */
#team {
    background:#ecf0f1;
}
#team .skills {
    font-size: 3.25em;
    color:#E74C3C;
}
/* Shift apple up a little */
#team .little-apple {
    margin-bottom:10px;
}
#team .green-box {
    background:#9CE793;
    height:400px;
    padding:20px;
    margin:10px; 
    opacity:20%;
}
#team .green-box img {
    height: 162px;
    width: 162px;
    text-align: center;
    opacity: .8;
}
/*Hover effect*/
#team .green-box img:hover {
	opacity: 1;
}
#team h3{
    color:#C0392B;
    font-family:cursive;
    font-size:2.5em;
}
#team p{
    color:#6C7A89;
    font-size:1.2em;
}
#team .darkred {
    background:#C0392B;
    margin-top:15px;
    border:none;
}
#team .darkred:hover {
    background:#E74C3C;
    
}



/* Contact Styling */
#contact {	
	font-family:'Lato',sans-serif;
    background:#6C7A89;
}
#contact .skills {
    font-size: 3.25em;
    color:#ecf0f1;
}
#contact h3 {
    font-size:2.5em;
    color:#ecf0f1;
    text-align: center;
}
#contact p {
    font-size:1.4em;
    color:#ecf0f1;
    text-align:left;
}
#contact .padding-left{
    padding-left:20%;
}
#contact .has-success .form-control,
#contact .has-success .control-label {                   border-color:#C0392B;
    color:#C0392B;
}
#contact .contact-form{
    background:#E74C3C;
    width:80%;
    padding:40px;
    border-top-left-radius: 10px 10px;
}
#contact textarea {
    height:100px;
    margin-top:36px;
}
#contact .blue {
    background:#ecf0f1;
    color:#6C7A89;
    width: 100px;
    border:none;
}
#contact .blue:hover {
    background:#C0392B;
    color:#ecf0f1;
}
#contact .btn-social {
	background-color:#E74C3C;
    color:#ecf0f1;
	width:50px;
	height:50px;
	border:3px solid #E74C3C;
	border-radius:100%;
    box-shadow: 2px 2px 5px #616d7b;
	text-align:center;
	font-size:25px;
	font-weight:900;
	line-height:45px;
}
#contact .btn-social i {
	
}
#contact .socials>li {
    margin:25px 12px;
}
#contact .socials a {
    transition: all .5s;
}
#contact .socials>li:hover a {
    
}
#contact .socials>li:hover i {
	background:#C0392B;
    border-color:#C0392B;
}

#contact .btn-primary {
	
}

#contact .btn-primary:focus,
#contact .btn-primary:hover{
	
}

/* Footer Styling */
footer {
    background:#E74C3C;
    padding:36px;
}

footer p {
	color:#ecf0f1;
}



/* ==== Media Queries ====*/

/* iPads (Tablets) ----------- */
@media only screen and (min-width: 768px) and (max-width : 1024px) {
/* Styles */

.title {

}

.padding {

}

#work .portfolio-item {
	
}

#work .portfolio-item img {

}

#work .portfolio-item img:hover {
	

}

#contact  {
	
}

}

/* Iphone/Android (Small Devices) ----------- */
@media only screen and (min-width : 320px) and (max-width: 767px) {
/* Styles */

.title {
	font-size:3em;
}

.skills {
	font-size: 1em;
}

#header .icon {

}

#work .portfolio-item {

}

#work .portfolio-item img {

}

#work .portfolio-item img:hover {


}

#contact .socials>li {

}

.margin.no_margin_mobile {

}


.contact-form button.pull-right {
	
}

.social-media {

}


}